/* FRONT END : Mathys */
@font-face {
    font-family: "cartoon";
    src: url("Star\ Cartoon.otf") format("truetype");
  }



/*/////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////*/

/*Fond*/
body{
    background-color: #141414;

}

blockquote{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr{
    display: block;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    color: white;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 2px;
}

.layout {
    display: flex;          /* met les éléments côte à côte */
    justify-content: center; /* centre l’ensemble */
    align-items: flex-start; /* aligne en haut */
    gap: 40px;               /* espace entre les zones */
    width: 100%;
    margin-top: 50px;
}

/*/////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////*/
/*Menu gauche*/
/*Placements blocks*/
.blockConnect{
    padding: 10px;    
    background-color: #585758;
    border-radius:  20px / 20px ;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);
    height:300px
}
.blockDeconnect{
    padding: 10px;    
    background-color: #585758;
    border-radius:  20px / 20px ;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);
    height:150px
}
.modifCompte{
    padding: 10px;    
    background-color: #585758;
    border-radius:  20px / 20px ;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);
    height:470px
}
/*Plus tout en haut*/
.dansPartie{
    margin-top: 30px;
    padding: 10px;    
    background-color: #585758;
    border-radius:  20px / 20px ;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);
    height:140px
}

.partieG{
    margin-top: 30px;
    padding: 10px;    
    background-color: #585758;
    border-radius:  20px / 20px ;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);
    height:350px
}

/*////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////*/

h1{
    color: #fcfcfc;
    font-family: "cartoon";
    font-size: 20px;
    text-align: center;
}
.gros{
    margin-top: 15px;
    font-size: 30px;
    text-decoration: underline;
}
.btn{
    color: #272727;
    font-size: 20px;
}

.ptibtn{
    color: #272727;
    font-size: 15px;
    margin-top: 5px;
}

.zone_menu{
    position: absolute;
    margin-top: 142px;
    margin-left: 150px;
    width: 300px;
    height : 720px;

    display: block;

    background-color: transparent;



}

/*Truc de connexion*/
.txtPseudo{
    background-color: #eeeeee;
    display: block;
    width: 150px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.3);
}

.txtMdp{
    background-color: #eeeeee;
    display: block;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.3);

}
.connecter{
    background-color: #56b6ff;
    display: block;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow:  3px 3px 8px rgba(0,0,0,0.3);
    border: 2px solid #eeeeee;
}
.connecter:active {
    /* Effet "bouton enfoncé" */
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.4);
    transform: translateY(2px);
}

/*Trucs de parties*/

.partie{

    background-color: #56b6ff;
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow:  3px 3px 8px rgba(0,0,0,0.3);
    border: 2px solid #eeeeee;
}
.partie:active {
    /* Effet "bouton enfoncé" */
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.4);
    transform: translateY(2px);
}


.txtCode{
    background-color: #eeeeee;
    display: block;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.3);
}

/*Truc dans partie*/

.quitter{
    background-color: #ec3c30;
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.3);
    border: 2px solid #eeeeee;

}

.deconnecter{
    background-color: #ec3c30;
    display: block;
    width: 250px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow: inset 3px 3px 6px rgba(0,0,0,0.3);
    border: 2px solid #eeeeee;
}
.deconnecter:active{
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.4);
    transform: translateY(2px);
}

/*/////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////*/


/*Plateau(et autour proche)*/

.zone-plateau {
    flex-direction: column;

    
    display: flex;
    
    align-items: center; 
    gap: 0px;              
    margin-top: -25px;
}

.board {
    position: absolute;
    width: 840px;
    height: 720px;
    margin: 0px auto;
    margin-top:115px;
  
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  
    background-color: #007cd9;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 5%;
    padding: 15px;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0px 0px 50px rgb(31, 221, 255);


}

.board div {
    width: 85%;
    height: 85%;
  
    margin: auto;
  
    border: 3px solid white;
    border-radius: 50%;
    background-color: #474747;
    z-index: 1;
}

.board div.rouge {
    background: #e22525 url("sfspider.png") center/90% no-repeat;
    border-color: white;
  }
  
  .board div.jaune {
    background: #ffe600 url("spidernoir.png") center/120% no-repeat;
    border-color: white;
  }

  .board div.booba {
    background: #ffe600 url("booba.png") center/170% no-repeat;
    border-color: white;
  }

  .board div.kaaris {
    background: #e22525 url("kaaris.png") center/120% no-repeat;
    border-color: white;
  }

  .board div.gf {
    background: #e22525 url("gf.png") center/170% no-repeat;
    border-color: white;
  }

  .board div.pgf {
    background: #ffe600 url("pgf.png") center/150% no-repeat;
    border-color: white;
  }

/*Boutons*/
.colonne{
    position: relative;
    width: 110px;
    height: 840px;
    z-index: 2;
    background-color: transparent;
    border: transparent;
}




/*/////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////*/
/*Menu droite*/

/*Placement menu*/
.blockClassement{
    padding: 10px;
    background-color: #585758;
    border-radius:  20px / 20px ;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);
    height: 255px;
}

.dansPartieD{
    padding: 10px;
    margin-top: 30px;
    background-color: #585758;
    border-radius:  20px / 20px ;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);
    height: 400px;
}


/*////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////*/

.zone_droite{
    position: absolute;
    margin-top: -695px;
    margin-left: 1450px;
    width: 300px;
    height : 720px;

    display: block;
}

.btnTheme{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -75px;
    margin-left: 250px;
    border-radius: 10px/10px;
    background: url(modif.png)center/100% no-repeat;
    background-color: #56b6ff;
    border-color: transparent;
    box-shadow:  0px 0px 15px rgb(211, 248, 255);
}

.btnTheme:active {
    /* Effet "bouton enfoncé" */
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.4);
    transform: translateY(1px);
}



.classement{
    display: block;
    margin: 0 auto;
    background-color: #56b6ff;

    border-radius: 20px/20px;
    width: 250px;
    height: 230px;
    box-shadow:  0px 0px 25px rgb(255, 255, 255);


}
.afClassement{
    position: absolute;
    margin: 0 auto;
    width: 250px;
    height: 50px;
    background-color: red;
    border-radius: 20px/20px;

}

.jpartieClasse{
    margin-top: 0px;
}

.jpartie{
    margin-top: 00px;
}

.blockTheme{
    display: block;
    margin: 0 auto;
    margin-top: 40px;

    width: 200px;
    height: 100px;

    background-color: #007cd9;
    border-radius: 20px/20px;
    box-shadow:  0px 0px 25px #d3f8ff;
}
.textTheme{
    color: #141414;
}

.theme{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 170px;
    height: 30px;
    border-radius: 10px/10px;
    background-color: #d3f8ff ;
    box-shadow:  0px 0px 25px #d3f8ff;
}



.Abandon{
    background-color: #ec3c30;
    display: block;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow:  3px 3px 8px rgba(0,0,0,0.3);
    border: 2px solid #eeeeee;
}
.Abandon:active{
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.4);
    transform: translateY(2px);
}

.reset{
    background-color: #56b6ff;
    display: block;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px / 20px;
    border: 0px;
    box-shadow:  3px 3px 8px rgba(0,0,0,0.3);
    border: 2px solid #eeeeee;
}
.reset:active{
    box-shadow: inset 3px 3px 8px rgba(0,0,0,0.4);
    transform: translateY(2px);
}

/*/////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////*/

.zone_menu,
.zone-plateau,
.zone_droite {
    position: static; /* valeur par défaut */
    margin: 20px;
    margin-top: auto;
}